<div class="form wrapper-div mb-3">
	<%= form.text_field :title ,placeholder:'Enter Option...',class:'form-control w-50 d-inline mx-2'%>
	<%= form.check_box :correct,class:'mx-2'%>
	<%= form.file_field :image,class:'mx-2'%>
	<%= link_to_remove_nested(form, link_text: "Delete",undo_link_timeout: 3000, link_classes: 'btn btn-sm btn-danger') %> <!-- adds a link to add more items -->
</div>
