<% obj.each do |question|%>
	<button type="button" class="list-group-item list-group-item-action my-1 py-3 font-weight-bold fs-5"><%=link_to "  #{question.title}", question_path(question), class:'text-decoration-none text-dark'%>
	</button>
<% end%>
