<div class='row'>
	<% obj&.each do |quiz|%>
		<div class="col-5  mb-4">
			<div class="card border-left-primary shadow h-100 pt-2">
				<div class="card-body">
					<%= link_to(quiz_path(quiz), class: 'text-decoration-none') do%>
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1 h5">
									View Quiz</div>
							</div>
							<div class="col-auto">
								<i class="fa fa-eye fa-2x text-gray-300"></i>
							</div>
						</div>
					<% end %>
					<div class='d-inline'>
						<%= link_to 'View as PDF', quiz_path(quiz,format: :pdf), class:'btn btn-sm btn-primary text-light float-right text-decoration-none' %>
					</div>
				</div>
			</div>
		</div>
	<% end%>
</div>
