<%= form_with model: @quiz do |form|%>
	<% @questions.each do|question|%>
		<% que=Question.find(question.question_id)%>
		<%= que.title%>
		<h2>Options</h2>
		<%= form.collection_check_boxes :user_answer, que.options.all, :id, :title%>
		<br>
	<% end%>
	<div>
		<%=form.submit%>
	</div>
<% end%>
