<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to Quiz System,</h1>
		<p>
			You have successfully Attained Quiz,
			<br>
		</p>
		<p>Have a great day!</p>
	</body>
</html>
