<% if flash[:notice] %>
	<div class="alert alert-success mb-0" role="alert">
		<%= flash[:notice]%>
		<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
<% elsif flash[:error]%>
	<div class="alert alert-danger mb-0">
		<%= flash[:error]%>
		<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
<% elsif flash[:alert]%>
	<div class="alert alert-danger mb-0">
		<%= flash[:alert]%>
		<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
<% end %>
